body {

	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, {
	margin: 0;
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* intro */

.intro {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	background:
	url("../images/intro-3.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


.intro__inner {
	color: #f00;
	width: 100%;
	max-width: 880px;
	margin: 0 auto;

	text-align: center;
}


.intro__suptitle {
	font-family: 'Montserrat', sans-serif;
	color: #a900ff;
	font-size: 72px;
	text-align: center;
	height: 20px;
}

.intro__title {
	font-family: 'Kaushan Script', bold, cursive;
	color: #f00;
	font-size: 150px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}

/* Header */
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}


/* Header_inner */
.header_inner {
	display: flex;
	justify-content: space-between;
}

/* Header Logo */
.header__logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	color: #f00;
}


/* Header__menu */
.header__menu {
	width: 35%;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
}


/* nav */
.nav {
	font-size: 14px;
	text-transform: uppercase;
}


/* nav_link */
.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;
	text-decoration: none;
	color: #2700ff;
	transition: color .2s linear;
}


.nav_link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
    opacity: 0;

	background: #f00;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .2s linear;
}

.nav_link:hover {
	color: #f00;
}


.nav_link:hover:after {
	opacity: 1;
}


/* Button */
.btn {
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%

	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
    color: #f00;

    text-decoration: none;
    text-transform: uppercase;

	border: 2px solid #f00;

}


/* Vk__messages */
.vk__messages {

}


/* text */
.text__name {
	font-family: 'Montserrat', bold;
	color: #f00;
	font-size: 35px;

	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
    background: 
	url("../images/text_name-2.jpg") center
	no-repeat;
    -webkit-background-size: cover;
	background-size: cover;
}


.text__name__title {
	color: #2700ff ;
}


.text__name__suptitle {
	font-family: 'Montserrat', bold;
	color: #f00;
	width: 100%;
	height: 35px;
}

/* text stroke */
.text__stroke {

}